
body{
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: rgb(252, 237, 240);
}
.titleh{
    font-family: "Montserrat";
    size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.homeContainer{
    padding: 3% 15% 7%;
    height: 100%;
    width: 100%;
}
.phone{
    position: absolute;
    width: 60%;
    right: 25%;
}
.carousel-item{
    padding: 7% 15%;
}
.deck-item{
    padding: 3% 2%;
    text-align: center;
}
#pricing{
    padding: 7%;
    text-align: center;
}
.pricing-h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
}

/* @media query */
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .phone{
        position: static;
    }
}
@media (min-width: 1028px){
    .phone{
        transform: rotate(25deg);
        width: 20%;
        right: 25%;
    }    
}

/* Navbar */
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0;
}
.nav-item{
    padding: 0 18px;
    font-size: 1.3rem;
    font-weight: normal;
}

/* download-button */
.download-btn{
    margin: 5% 3% 5% 0;
}

/* Feature */
#features{
    padding: 7% 15%;
    position: relative;
    background-color: rgb(252, 237, 240);
}
.feature-icon{
    color: #ef8172;
    font-size: 3em;
}
.feature-box{
    text-align: center;
    padding: 4%;
}
.feature-h3{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}
.feature-p{
    color: #8f8f8f;
}
.feature-icon:hover{
    color: #ff4c68;
}

/* testimonials */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: rgb(252, 237, 240);
    position: relative;
}
.testimonial-text{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
.testimonial-img{
    width: 10%;
    border-radius: 50%;
    margin: 2%;
}

/* press */
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 2%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* cta */
#cta{
    background-color: #ff4c68;
    padding: 5% 17%;
    text-align: center;
}
.cta-h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: rgb(252, 237, 240);
}

/* footer */
#footer{
    padding: 7% 10%;
    text-align: center;
}
.footer-p{
    font-weight: normal;
    color: rgb(128, 121, 121);
}
.footer-icons{
    letter-spacing: 10px;
}